dify/ChatFPTU_staging.yml
app:
  description: Staging ver
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: ChatFPTU_staging
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.0.3@9ded90ac00e8510119a24be7396ba77191c9610d5e1e29f59d68fa1229822fc7
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.0.8@420e755f870062b3da528617d2c0439a599ce1cbbb00645492c3bdb2b360afb6
kind: app
version: 0.1.5
workflow:
  conversation_variables:
  - description: ''
    id: 55450440-609c-431c-b484-a3a5de1e1de8
    name: image_str
    selector:
    - conversation
    - image_str
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1741093928841-1-1741096229050-target
      source: '1741093928841'
      sourceHandle: '1'
      target: '1741096229050'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: question-classifier
      id: 1741093650726-source-1741093928841-target
      source: '1741093650726'
      sourceHandle: source
      target: '1741093928841'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1741096229050-1741157729097-1741182062462-target
      selected: false
      source: '1741096229050'
      sourceHandle: '1741157729097'
      target: '1741182062462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1741093928841-2-1741339720314-target
      source: '1741093928841'
      sourceHandle: '2'
      target: '1741339720314'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741339720314-1-1741339901501-target
      source: '1741339720314'
      sourceHandle: '1'
      target: '1741339901501'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741339720314-2-1741339904151-target
      source: '1741339720314'
      sourceHandle: '2'
      target: '1741339904151'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741339720314-1741339794699-1741339906484-target
      source: '1741339720314'
      sourceHandle: '1741339794699'
      target: '1741339906484'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741339720314-1741339798866-1741339909118-target
      source: '1741339720314'
      sourceHandle: '1741339798866'
      target: '1741339909118'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741339720314-1741339806866-1741339911518-target
      source: '1741339720314'
      sourceHandle: '1741339806866'
      target: '1741339911518'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741339720314-1741339820849-1741339913301-target
      source: '1741339720314'
      sourceHandle: '1741339820849'
      target: '1741339913301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741339720314-1741339825816-1741339915535-target
      source: '1741339720314'
      sourceHandle: '1741339825816'
      target: '1741339915535'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741339901501-source-1741340607865-target
      source: '1741339901501'
      sourceHandle: source
      target: '1741340607865'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741339904151-source-1741340607865-target
      source: '1741339904151'
      sourceHandle: source
      target: '1741340607865'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741339906484-source-1741340607865-target
      source: '1741339906484'
      sourceHandle: source
      target: '1741340607865'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741339909118-source-1741340607865-target
      source: '1741339909118'
      sourceHandle: source
      target: '1741340607865'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741339911518-source-1741340607865-target
      source: '1741339911518'
      sourceHandle: source
      target: '1741340607865'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741339913301-source-1741340607865-target
      source: '1741339913301'
      sourceHandle: source
      target: '1741340607865'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741339915535-source-1741340607865-target
      source: '1741339915535'
      sourceHandle: source
      target: '1741340607865'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: if-else
      id: 1741340607865-source-1741340658099-target
      source: '1741340607865'
      sourceHandle: source
      target: '1741340658099'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1741340658099-false-1741340668766-target
      source: '1741340658099'
      sourceHandle: 'false'
      target: '1741340668766'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1741340668766-source-1741340694534-target
      source: '1741340668766'
      sourceHandle: source
      target: '1741340694534'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: knowledge-retrieval
      id: 1741340658099-true-1741340718151-target
      source: '1741340658099'
      sourceHandle: 'true'
      target: '1741340718151'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1741340718151-source-1741340743235-target
      source: '1741340718151'
      sourceHandle: source
      target: '1741340743235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1741340743235-false-1741340753301-target
      source: '1741340743235'
      sourceHandle: 'false'
      target: '1741340753301'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1741340753301-source-1741340768352-target
      source: '1741340753301'
      sourceHandle: source
      target: '1741340768352'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1741340743235-true-1741340786585-target
      source: '1741340743235'
      sourceHandle: 'true'
      target: '1741340786585'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1741096229050-1-1741152628571-target
      source: '1741096229050'
      sourceHandle: '1'
      target: '1741152628571'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1741096229050-2-1742523734311-target
      source: '1741096229050'
      sourceHandle: '2'
      target: '1742523734311'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1741096229050-1741096238323-1742523748161-target
      source: '1741096229050'
      sourceHandle: '1741096238323'
      target: '1742523748161'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1741096229050-1741096242098-1742523761278-target
      source: '1741096229050'
      sourceHandle: '1741096242098'
      target: '1742523761278'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1741096229050-1741096247073-1742523779295-target
      source: '1741096229050'
      sourceHandle: '1741096247073'
      target: '1742523779295'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1741096229050-1741096380290-1742524007066-target
      source: '1741096229050'
      sourceHandle: '1741096380290'
      target: '1742524007066'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1742524007066-2-1742524157169-target
      source: '1742524007066'
      sourceHandle: '2'
      target: '1742524157169'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1742524007066-1-1742524663829-target
      source: '1742524007066'
      sourceHandle: '1'
      target: '1742524663829'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1742524663829-1-1742524742231-target
      source: '1742524663829'
      sourceHandle: '1'
      target: '1742524742231'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1742524663829-2-1742524761131-target
      source: '1742524663829'
      sourceHandle: '2'
      target: '1742524761131'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1742524663829-1742524698396-1742524774348-target
      source: '1742524663829'
      sourceHandle: '1742524698396'
      target: '1742524774348'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1742524663829-1742524702547-1742524777981-target
      source: '1742524663829'
      sourceHandle: '1742524702547'
      target: '1742524777981'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1742524663829-1742524706963-1742524781965-target
      source: '1742524663829'
      sourceHandle: '1742524706963'
      target: '1742524781965'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1742524663829-1742524710097-1742524785932-target
      source: '1742524663829'
      sourceHandle: '1742524710097'
      target: '1742524785932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1742524663829-1742524713897-1742524789848-target
      source: '1742524663829'
      sourceHandle: '1742524713897'
      target: '1742524789848'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1742524663829-1742524716814-1742524793348-target
      source: '1742524663829'
      sourceHandle: '1742524716814'
      target: '1742524793348'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1741093650726'
      position:
        x: 30
        y: 505.5
      positionAbsolute:
        x: 30
        y: 505.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Building Location
        - id: '2'
          name: Other
        desc: ''
        instructions: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1741093650726'
        - sys.query
        selected: false
        title: Question Classifier 2
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 167
      id: '1741093928841'
      position:
        x: 333
        y: 505.5
      positionAbsolute:
        x: 333
        y: 505.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Alpha
        - id: '2'
          name: Beta
        - id: '1741096238323'
          name: Delta
        - id: '1741096242098'
          name: Epsilon
        - id: '1741096247073'
          name: Gamma
        - id: '1741096380290'
          name: Other
        - id: '1741157729097'
          name: Library
        desc: ''
        instructions: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1741093650726'
        - sys.query
        selected: false
        title: Question Classifier 3
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 347
      id: '1741096229050'
      position:
        x: 636
        y: 505.5
      positionAbsolute:
        x: 636
        y: 505.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Tòa Alpha trông như thế này

          ![Building](https://chatfptu.onrender.com/Alpha)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 147
      id: '1741152628571'
      position:
        x: 939
        y: 1156.5
      positionAbsolute:
        x: 939
        y: 1156.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '    Thư viện cơ sở Hòa Lạc:

                  Địa điểm: Phòng 108, tòa nhà Delta, Trường Đại học FPT Hà Nội

                  Giờ mở cửa:

                      Thứ 2 đến Thứ 6: 08:15 đến 21:00

                      Thứ 7 - Chủ nhật: 08:00 đến 12:00 | 13:00 đến 17:00



              Thư viện cơ sở Hồ Chí Minh:

                  Địa điểm: P.002, đối diện Hồ Sen Trường Đại học FPT cơ sở Hồ Chí
          Minh

                  Giờ mở cửa:

                      Thứ 2 đến Thứ 6: 07:00 đến 18:00

                      Thứ 7 - Chủ nhật: 07:00 đến 17:00



              Thư viện cơ sở Cần Thơ:

                  Địa điểm: Thư viện Gamma: Tầng trệt Tòa Gamma; Thư viện Alpha: Tầng
          trệt Tòa Alpha

                  Giờ mở cửa:

                      Thư viện Beta: Thứ 2 đến Thứ 6: 08:00 đến 17:30; Thứ 7: 08:00
          đến 12:00

                      Thư viện Gamma: Thứ 2 đến Thứ 6: 08:00 đến 20:00; Thứ 7: 12:00
          đến 18:00



              Thư viện cơ sở Đà Nẵng:

                  Địa điểm: Phòng 105 - toà nhà Gamma - Trường Đại học FPT cơ sở Đà
          Nẵng

                  Giờ mở cửa:

                      Thứ 2 đến Thứ 6: 07:00 đến 17:30

                      Thứ 7: 07:00 đến 12:00



              Thư viện cơ sở Quy Nhơn:

                  Địa điểm: Phòng 103, Sảnh Beta Trường Đại học FPT cơ sở Quy Nhơn

                  Giờ mở cửa:

                      Thứ 2 đến Thứ 7: 07:00 – 19:00



          Thư viện Nhà trường cũng là khu vực tự học dành cho sinh viên, mở cửa cả
          buổi tối và cuối tuần để phục vụ nhu cầu tự học của sinh viên.'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 611
      id: '1741182062462'
      position:
        x: 939
        y: 505.5
      positionAbsolute:
        x: 939
        y: 505.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Academic
        - id: '2'
          name: Student Services
        - id: '1741339794699'
          name: Financial
        - id: '1741339798866'
          name: Campus Life
        - id: '1741339806866'
          name: Careers
        - id: '1741339820849'
          name: About
        - id: '1741339825816'
          name: Other
        desc: ''
        instruction: '    ''academic'': ''Questions about courses, programs, grades,
          exams, and academic policies'',

              ''student_services'': ''Questions about library, health services, and
          other campus facilities'',

              ''financial'': ''Questions about tuition, scholarships, financial aid,
          and fees'',

              ''campus_life'': ''Questions about housing, clubs, activities, and student
          life'',

              ''careers'': ''Questions about internships, jobs, career services, and
          employment'',

              ''about'': ''Questions about FPT history, organization, and general
          information'''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1741093650726'
        - sys.query
        selected: false
        title: Question Classifier 3
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 347
      id: '1741339720314'
      position:
        x: 636
        y: 3266.5
      positionAbsolute:
        x: 636
        y: 3266.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 72c7bafb-576b-4a17-a0e6-8874dc19b452
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: mxbai-embed-large
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 91
      id: '1741339901501'
      position:
        x: 939
        y: 3526.5
      positionAbsolute:
        x: 939
        y: 3526.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 7c6c1431-74f0-4b9c-858c-c7696fbf2080
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: mxbai-embed-large
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 2
        type: knowledge-retrieval
      height: 91
      id: '1741339904151'
      position:
        x: 939
        y: 3657.5
      positionAbsolute:
        x: 939
        y: 3657.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 33db4de7-3b56-4055-b452-ef81f61511e6
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: mxbai-embed-large
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 3
        type: knowledge-retrieval
      height: 91
      id: '1741339906484'
      position:
        x: 939
        y: 3788.5
      positionAbsolute:
        x: 939
        y: 3788.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 888d6f87-f4ec-4690-98e8-bb330ae7b717
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: mxbai-embed-large
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 4
        type: knowledge-retrieval
      height: 91
      id: '1741339909118'
      position:
        x: 939
        y: 3919.5
      positionAbsolute:
        x: 939
        y: 3919.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 3ba3ce3b-7812-41a5-9c1f-90bf8a11b6ff
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: mxbai-embed-large
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 5
        type: knowledge-retrieval
      height: 91
      id: '1741339911518'
      position:
        x: 939
        y: 4050.5
      positionAbsolute:
        x: 939
        y: 4050.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 380dd362-6c7e-4dc8-9e9b-68305ec36086
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: mxbai-embed-large
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 6
        type: knowledge-retrieval
      height: 91
      id: '1741339913301'
      position:
        x: 939
        y: 4181.5
      positionAbsolute:
        x: 939
        y: 4181.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 4db30a92-567d-488d-a8a0-cb3aee3aacee
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: mxbai-embed-large
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 7
        type: knowledge-retrieval
      height: 91
      id: '1741339915535'
      position:
        x: 939
        y: 4312.5
      positionAbsolute:
        x: 939
        y: 4312.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        output_type: array[object]
        selected: false
        title: Variable Aggregator
        type: variable-aggregator
        variables:
        - - '1741339915535'
          - result
        - - '1741339913301'
          - result
        - - '1741339911518'
          - result
        - - '1741339909118'
          - result
        - - '1741339906484'
          - result
        - - '1741339904151'
          - result
        - - '1741339901501'
          - result
      height: 238
      id: '1741340607865'
      position:
        x: 1242
        y: 3598
      positionAbsolute:
        x: 1242
        y: 3598
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 86f3ea95-f756-48e5-86f3-6be37d3004e1
            value: ''
            varType: array[object]
            variable_selector:
            - '1741340607865'
            - output
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 125
      id: '1741340658099'
      position:
        x: 1545
        y: 3670.5
      positionAbsolute:
        x: 1545
        y: 3670.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1741340607865'
          - output
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 786ad130-e488-40c2-9376-9a890fa66817
          role: system
          text: '{{#context#}}

            You are ChatFPTU, an agent designed to help future and new FPT University
            students.'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1741340668766'
      position:
        x: 1848
        y: 3659.5
      positionAbsolute:
        x: 1848
        y: 3659.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1741340668766.text#}}'
        desc: ''
        selected: false
        title: Answer 3
        type: answer
        variables: []
      height: 101
      id: '1741340694534'
      position:
        x: 2151
        y: 3659.5
      positionAbsolute:
        x: 2151
        y: 3659.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 71cc9f19-9296-4593-97b4-3cf9785f5c90
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: mxbai-embed-large
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 8
        type: knowledge-retrieval
      height: 91
      id: '1741340718151'
      position:
        x: 1848
        y: 3811.5
      positionAbsolute:
        x: 1848
        y: 3811.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 3da81217-df25-408b-9cad-a9c700f9c4cc
            value: ''
            varType: array[object]
            variable_selector:
            - '1741340718151'
            - result
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 125
      id: '1741340743235'
      position:
        x: 2151
        y: 3800.5
      positionAbsolute:
        x: 2151
        y: 3800.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1741340718151'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 1a159cc5-d7ae-4dfd-852e-95989283d1ab
          role: system
          text: '{{#context#}}

            You are ChatFPTU, an agent designed to help future and new FPT university
            students.'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1741340753301'
      position:
        x: 2454
        y: 3812.5
      positionAbsolute:
        x: 2454
        y: 3812.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1741340753301.text#}}'
        desc: ''
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 101
      id: '1741340768352'
      position:
        x: 2757
        y: 3812.5
      positionAbsolute:
        x: 2757
        y: 3812.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: Tôi xin lỗi. Cơ sở dữ liệu kiến thức hiện tại của tôi không có thông
          tin về việc này.
        desc: ''
        selected: false
        title: Answer 5
        type: answer
        variables: []
      height: 131
      id: '1741340786585'
      position:
        x: 2454
        y: 3941.5
      positionAbsolute:
        x: 2454
        y: 3941.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Tòa Beta trông như thế này

          ![Building](https://chatfptu.onrender.com/Beta)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 6
        type: answer
        variables: []
      height: 147
      id: '1742523734311'
      position:
        x: 939
        y: 1343.5
      positionAbsolute:
        x: 939
        y: 1343.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Tòa Delta trông như thế này

          ![Building](https://chatfptu.onrender.com/Delta)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 7
        type: answer
        variables: []
      height: 147
      id: '1742523748161'
      position:
        x: 939
        y: 1530.5
      positionAbsolute:
        x: 939
        y: 1530.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Tòa Epsilon trông như thế này

          ![Building](https://chatfptu.onrender.com/Epsilon)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 8
        type: answer
        variables: []
      height: 147
      id: '1742523761278'
      position:
        x: 939
        y: 1717.5
      positionAbsolute:
        x: 939
        y: 1717.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Tòa Gamma trông như thế này

          ![Building](https://chatfptu.onrender.com/Gamma)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 9
        type: answer
        variables: []
      height: 163
      id: '1742523779295'
      position:
        x: 939
        y: 1904.5
      positionAbsolute:
        x: 939
        y: 1904.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Domitory
        - id: '2'
          name: Other
        desc: ''
        instructions: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1741093650726'
        - sys.query
        selected: false
        title: Question Classifier 4
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 167
      id: '1742524007066'
      position:
        x: 939
        y: 2107.5
      positionAbsolute:
        x: 939
        y: 2107.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 10
        type: answer
        variables: []
      height: 115
      id: '1742524157169'
      position:
        x: 1242
        y: 1885.5
      positionAbsolute:
        x: 1242
        y: 1885.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Dom A
        - id: '2'
          name: Dom B
        - id: '1742524698396'
          name: Dom C
        - id: '1742524702547'
          name: Dom D
        - id: '1742524706963'
          name: Dom E
        - id: '1742524710097'
          name: Dom F
        - id: '1742524713897'
          name: Dom G
        - id: '1742524716814'
          name: Dom H
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1741093650726'
        - sys.query
        selected: false
        title: Question Classifier 5
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 383
      id: '1742524663829'
      position:
        x: 1242
        y: 2040.5
      positionAbsolute:
        x: 1242
        y: 2040.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Dom A trông như thế này

          ![Building](https://chatfptu.onrender.com/dom_a)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 11
        type: answer
        variables: []
      height: 147
      id: '1742524742231'
      position:
        x: 1545
        y: 2174.5
      positionAbsolute:
        x: 1545
        y: 2174.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Dom B trông như thế này

          ![Building](https://chatfptu.onrender.com/dom_b)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 12
        type: answer
        variables: []
      height: 147
      id: '1742524761131'
      position:
        x: 1545
        y: 2361.5
      positionAbsolute:
        x: 1545
        y: 2361.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Dom C trông như thế này

          ![Building](https://chatfptu.onrender.com/dom_c)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 13
        type: answer
        variables: []
      height: 147
      id: '1742524774348'
      position:
        x: 1545
        y: 2548.5
      positionAbsolute:
        x: 1545
        y: 2548.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Dom D trông như thế này

          ![Building](https://chatfptu.onrender.com/dom_d)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 14
        type: answer
        variables: []
      height: 147
      id: '1742524777981'
      position:
        x: 1545
        y: 2735.5
      positionAbsolute:
        x: 1545
        y: 2735.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Dom E trông như thế này

          ![Building](https://chatfptu.onrender.com/dom_e)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 15
        type: answer
        variables: []
      height: 147
      id: '1742524781965'
      position:
        x: 1545
        y: 2922.5
      positionAbsolute:
        x: 1545
        y: 2922.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Dom F trông như thế này

          ![Building](https://chatfptu.onrender.com/dom_f)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 16
        type: answer
        variables: []
      height: 147
      id: '1742524785932'
      position:
        x: 1545
        y: 3109.5
      positionAbsolute:
        x: 1545
        y: 3109.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Dom G trông như thế này

          ![Building](https://chatfptu.onrender.com/dom_g)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 17
        type: answer
        variables: []
      height: 147
      id: '1742524789848'
      position:
        x: 1545
        y: 3296.5
      positionAbsolute:
        x: 1545
        y: 3296.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Dom H trông như thế này

          ![Building](https://chatfptu.onrender.com/dom_h)


          Xin mời bạn tham khảo bản đồ.

          ![Map](https://chatfptu.onrender.com/map)'
        desc: ''
        selected: false
        title: Answer 18
        type: answer
        variables: []
      height: 147
      id: '1742524793348'
      position:
        x: 1545
        y: 3483.5
      positionAbsolute:
        x: 1545
        y: 3483.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -448.0000000000002
      y: -2334
      zoom: 0.7
