dify/ChatFPTU_staging.yml
app:
  description: Staging ver
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: ChatFPTU_staging
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.0.8@420e755f870062b3da528617d2c0439a599ce1cbbb00645492c3bdb2b360afb6
kind: app
version: 0.1.5
workflow:
  conversation_variables:
  - description: ''
    id: 822d50c3-f2bc-41b2-8dd8-ec8f38c2da7f
    name: map_base64
    selector:
    - conversation
    - map_base64
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1741093928841-1-1741096229050-target
      source: '1741093928841'
      sourceHandle: '1'
      target: '1741096229050'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: question-classifier
      id: 1741093650726-source-1741093928841-target
      source: '1741093650726'
      sourceHandle: source
      target: '1741093928841'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-1-1741152913235-target
      source: '1741096229050'
      sourceHandle: '1'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-2-1741152913235-target
      source: '1741096229050'
      sourceHandle: '2'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-1741096238323-1741152913235-target
      source: '1741096229050'
      sourceHandle: '1741096238323'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-1741096242098-1741152913235-target
      source: '1741096229050'
      sourceHandle: '1741096242098'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-1741096247073-1741152913235-target
      source: '1741096229050'
      sourceHandle: '1741096247073'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-1741096380290-1741152913235-target
      source: '1741096229050'
      sourceHandle: '1741096380290'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: answer
      id: 1741152913235-source-1741152628571-target
      source: '1741152913235'
      sourceHandle: source
      target: '1741152628571'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: answer
      id: 1741096229050-1741157729097-1741182062462-target
      source: '1741096229050'
      sourceHandle: '1741157729097'
      target: '1741182062462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1741093928841-2-1741182458061-target
      source: '1741093928841'
      sourceHandle: '2'
      target: '1741182458061'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741182458061-1-1741182630844-target
      source: '1741182458061'
      sourceHandle: '1'
      target: '1741182630844'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741182458061-2-1741182639109-target
      source: '1741182458061'
      sourceHandle: '2'
      target: '1741182639109'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741182458061-1741182459909-1741182641918-target
      source: '1741182458061'
      sourceHandle: '1741182459909'
      target: '1741182641918'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741182458061-1741182460773-1741182644398-target
      source: '1741182458061'
      sourceHandle: '1741182460773'
      target: '1741182644398'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741182458061-1741182476205-1741182647613-target
      source: '1741182458061'
      sourceHandle: '1741182476205'
      target: '1741182647613'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741182458061-1741182477004-1741182650741-target
      source: '1741182458061'
      sourceHandle: '1741182477004'
      target: '1741182650741'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741182458061-1741182503347-1741182653157-target
      source: '1741182458061'
      sourceHandle: '1741182503347'
      target: '1741182653157'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741182458061-1741182508373-1741182655926-target
      source: '1741182458061'
      sourceHandle: '1741182508373'
      target: '1741182655926'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741182630844-source-1741182660932-target
      source: '1741182630844'
      sourceHandle: source
      target: '1741182660932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741182639109-source-1741182660932-target
      source: '1741182639109'
      sourceHandle: source
      target: '1741182660932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741182641918-source-1741182660932-target
      source: '1741182641918'
      sourceHandle: source
      target: '1741182660932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741182644398-source-1741182660932-target
      source: '1741182644398'
      sourceHandle: source
      target: '1741182660932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741182647613-source-1741182660932-target
      source: '1741182647613'
      sourceHandle: source
      target: '1741182660932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741182650741-source-1741182660932-target
      source: '1741182650741'
      sourceHandle: source
      target: '1741182660932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741182653157-source-1741182660932-target
      source: '1741182653157'
      sourceHandle: source
      target: '1741182660932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: variable-aggregator
      id: 1741182655926-source-1741182660932-target
      source: '1741182655926'
      sourceHandle: source
      target: '1741182660932'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: if-else
      id: 1741182660932-source-1741182798703-target
      source: '1741182660932'
      sourceHandle: source
      target: '1741182798703'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1741182798703-true-1741182808220-target
      source: '1741182798703'
      sourceHandle: 'true'
      target: '1741182808220'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1741182798703-false-1741182848493-target
      source: '1741182798703'
      sourceHandle: 'false'
      target: '1741182848493'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1741182848493-source-1741182883299-target
      source: '1741182848493'
      sourceHandle: source
      target: '1741182883299'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1741093650726'
      position:
        x: 30
        y: 373.5
      positionAbsolute:
        x: 30
        y: 373.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Building Location
        - id: '2'
          name: Other
        desc: ''
        instructions: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1741093650726'
        - sys.query
        selected: false
        title: Question Classifier 2
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 167
      id: '1741093928841'
      position:
        x: 333
        y: 373.5
      positionAbsolute:
        x: 333
        y: 373.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Alpha
        - id: '2'
          name: Beta
        - id: '1741096238323'
          name: Delta
        - id: '1741096242098'
          name: Epsilon
        - id: '1741096247073'
          name: Gamma
        - id: '1741096380290'
          name: Other
        - id: '1741157729097'
          name: Library
        desc: ''
        instructions: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1741093650726'
        - sys.query
        selected: false
        title: Question Classifier 3
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 347
      id: '1741096229050'
      position:
        x: 636
        y: 373.5
      positionAbsolute:
        x: 636
        y: 373.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Xin mời bạn xem bản đồ.

          {{#1741152913235.files#}}'
        desc: ''
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 117
      id: '1741152628571'
      position:
        x: 1242
        y: 373.5
      positionAbsolute:
        x: 1242
        y: 373.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 10
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/456783036_901803835311214_6540626638198645520_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=PLSYf32yHhMQ7kNvgGcE_A_&_nc_oc=AdjY-HAVdHGq_2SrQkXJOlt7V2k__c5aoly_Y09DBc83PI6JZsC12BD9854RA8nMAbU&_nc_zt=23&_nc_ht=scontent.fhan2-3.fna&_nc_gid=A_3NP7BKwUEiULVlV1hn0LR&oh=00_AYBh83ETBSZ68ZB009KGTSTvg-lu4kdM2VYt6yOJ_RmL5Q&oe=67CDA6A0
        variables: []
      height: 342
      id: '1741152913235'
      position:
        x: 939
        y: 500
      positionAbsolute:
        x: 939
        y: 500
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '    Thư viện cơ sở Hòa Lạc:

                  Địa điểm: Phòng 108, tòa nhà Delta, Trường Đại học FPT Hà Nội

                  Giờ mở cửa:

                      Thứ 2 đến Thứ 6: 08:15 đến 21:00

                      Thứ 7 - Chủ nhật: 08:00 đến 12:00 | 13:00 đến 17:00



              Thư viện cơ sở Hồ Chí Minh:

                  Địa điểm: P.002, đối diện Hồ Sen Trường Đại học FPT cơ sở Hồ Chí
          Minh

                  Giờ mở cửa:

                      Thứ 2 đến Thứ 6: 07:00 đến 18:00

                      Thứ 7 - Chủ nhật: 07:00 đến 17:00



              Thư viện cơ sở Cần Thơ:

                  Địa điểm: Thư viện Gamma: Tầng trệt Tòa Gamma; Thư viện Alpha: Tầng
          trệt Tòa Alpha

                  Giờ mở cửa:

                      Thư viện Beta: Thứ 2 đến Thứ 6: 08:00 đến 17:30; Thứ 7: 08:00
          đến 12:00

                      Thư viện Gamma: Thứ 2 đến Thứ 6: 08:00 đến 20:00; Thứ 7: 12:00
          đến 18:00



              Thư viện cơ sở Đà Nẵng:

                  Địa điểm: Phòng 105 - toà nhà Gamma - Trường Đại học FPT cơ sở Đà
          Nẵng

                  Giờ mở cửa:

                      Thứ 2 đến Thứ 6: 07:00 đến 17:30

                      Thứ 7: 07:00 đến 12:00



              Thư viện cơ sở Quy Nhơn:

                  Địa điểm: Phòng 103, Sảnh Beta Trường Đại học FPT cơ sở Quy Nhơn

                  Giờ mở cửa:

                      Thứ 2 đến Thứ 7: 07:00 – 19:00



          Thư viện Nhà trường cũng là khu vực tự học dành cho sinh viên, mở cửa cả
          buổi tối và cuối tuần để phục vụ nhu cầu tự học của sinh viên.'
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 595
      id: '1741182062462'
      position:
        x: 939
        y: 882
      positionAbsolute:
        x: 939
        y: 882
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Academics
        - id: '2'
          name: Campus
        - id: '1741182459909'
          name: Career
        - id: '1741182460773'
          name: Finance
        - id: '1741182476205'
          name: Policies
        - id: '1741182477004'
          name: Social
        - id: '1741182503347'
          name: Technology
        - id: '1741182508373'
          name: Other
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1741093650726'
        - sys.query
        selected: false
        title: Question Classifier 3
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 383
      id: '1741182458061'
      position:
        x: 636
        y: 1228
      positionAbsolute:
        x: 636
        y: 1228
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 53
      id: '1741182630844'
      position:
        x: 939
        y: 1517
      positionAbsolute:
        x: 939
        y: 1517
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 2
        type: knowledge-retrieval
      height: 53
      id: '1741182639109'
      position:
        x: 939
        y: 1610
      positionAbsolute:
        x: 939
        y: 1610
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 3
        type: knowledge-retrieval
      height: 53
      id: '1741182641918'
      position:
        x: 939
        y: 1703
      positionAbsolute:
        x: 939
        y: 1703
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 4
        type: knowledge-retrieval
      height: 53
      id: '1741182644398'
      position:
        x: 939
        y: 1796
      positionAbsolute:
        x: 939
        y: 1796
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 5
        type: knowledge-retrieval
      height: 53
      id: '1741182647613'
      position:
        x: 939
        y: 1889
      positionAbsolute:
        x: 939
        y: 1889
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 6
        type: knowledge-retrieval
      height: 53
      id: '1741182650741'
      position:
        x: 939
        y: 1982
      positionAbsolute:
        x: 939
        y: 1982
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 7
        type: knowledge-retrieval
      height: 53
      id: '1741182653157'
      position:
        x: 939
        y: 2075
      positionAbsolute:
        x: 939
        y: 2075
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids: []
        desc: ''
        multiple_retrieval_config:
          reranking_enable: false
          top_k: 4
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval 8
        type: knowledge-retrieval
      height: 53
      id: '1741182655926'
      position:
        x: 939
        y: 2168
      positionAbsolute:
        x: 939
        y: 2168
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        output_type: array[object]
        selected: false
        title: Variable Aggregator
        type: variable-aggregator
        variables:
        - - '1741182655926'
          - result
        - - '1741182653157'
          - result
        - - '1741182650741'
          - result
        - - '1741182647613'
          - result
        - - '1741182644398'
          - result
        - - '1741182641918'
          - result
        - - '1741182639109'
          - result
        - - '1741182630844'
          - result
      height: 260
      id: '1741182660932'
      position:
        x: 1242
        y: 1453.5
      positionAbsolute:
        x: 1242
        y: 1453.5
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 811fb50b-e729-4013-bd24-0e7a1ca31f8a
            value: ''
            varType: array[object]
            variable_selector:
            - '1741182660932'
            - output
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 125
      id: '1741182798703'
      position:
        x: 1545
        y: 1525
      positionAbsolute:
        x: 1545
        y: 1525
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: I apologize. My current knowledge database does not have information
          about that. Please contact
        desc: ''
        selected: false
        title: Answer 3
        type: answer
        variables: []
      height: 131
      id: '1741182808220'
      position:
        x: 1848
        y: 1525
      positionAbsolute:
        x: 1848
        y: 1525
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1741182660932'
          - output
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: c9624c45-4e7d-47db-af23-6ca52d0ed616
          role: system
          text: '{{#context#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1741182848493'
      position:
        x: 1848
        y: 1696
      positionAbsolute:
        x: 1848
        y: 1696
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1741182848493.text#}}'
        desc: ''
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 101
      id: '1741182883299'
      position:
        x: 2151
        y: 1675
      positionAbsolute:
        x: 2151
        y: 1675
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 335.4813197910015
      y: -90.41636075898629
      zoom: 0.38459897615190786
