dify/ChatFPTU.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: ChatFPTU
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/ollama:0.0.3@9ded90ac00e8510119a24be7396ba77191c9610d5e1e29f59d68fa1229822fc7
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.0.8@420e755f870062b3da528617d2c0439a599ce1cbbb00645492c3bdb2b360afb6
kind: app
version: 0.1.5
workflow:
  conversation_variables:
  - description: ''
    id: 822d50c3-f2bc-41b2-8dd8-ec8f38c2da7f
    name: map_base64
    selector:
    - conversation
    - map_base64
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: answer
      id: 1741094018705-true-1741094025744-target
      source: '1741094018705'
      sourceHandle: 'true'
      target: '1741094025744'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1741094018705-false-1741094035353-target
      source: '1741094018705'
      sourceHandle: 'false'
      target: '1741094035353'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1741094035353-source-1741094038146-target
      source: '1741094035353'
      sourceHandle: source
      target: '1741094038146'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: question-classifier
      id: 1741093928841-1-1741096229050-target
      source: '1741093928841'
      sourceHandle: '1'
      target: '1741096229050'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1741093928841-2-1741152497916-target
      source: '1741093928841'
      sourceHandle: '2'
      target: '1741152497916'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1741152497916-source-1741094018705-target
      source: '1741152497916'
      sourceHandle: source
      target: '1741094018705'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: question-classifier
      id: 1741093650726-source-1741093928841-target
      source: '1741093650726'
      sourceHandle: source
      target: '1741093928841'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-1-1741152913235-target
      source: '1741096229050'
      sourceHandle: '1'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-2-1741152913235-target
      source: '1741096229050'
      sourceHandle: '2'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-1741096238323-1741152913235-target
      source: '1741096229050'
      sourceHandle: '1741096238323'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-1741096242098-1741152913235-target
      source: '1741096229050'
      sourceHandle: '1741096242098'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-1741096247073-1741152913235-target
      source: '1741096229050'
      sourceHandle: '1741096247073'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: http-request
      id: 1741096229050-1741096380290-1741152913235-target
      source: '1741096229050'
      sourceHandle: '1741096380290'
      target: '1741152913235'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: answer
      id: 1741152913235-source-1741152628571-target
      source: '1741152913235'
      sourceHandle: source
      target: '1741152628571'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 53
      id: '1741093650726'
      position:
        x: 161.7575423171685
        y: 241.77009822488537
      positionAbsolute:
        x: 161.7575423171685
        y: 241.77009822488537
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Building Location
        - id: '2'
          name: Other
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1741093650726'
        - sys.query
        selected: false
        title: Question Classifier 2
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 167
      id: '1741093928841'
      position:
        x: 635.0726828482929
        y: 171.52689664014295
      positionAbsolute:
        x: 635.0726828482929
        y: 171.52689664014295
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 8090547c-10ce-4188-8f3b-b67360fb4bf9
            value: ''
            varType: array[object]
            variable_selector:
            - '1741152497916'
            - result
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 125
      id: '1741094018705'
      position:
        x: 1292
        y: 282
      positionAbsolute:
        x: 1292
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: I apologize. My current knowledge database does not have the answer
          to that question.
        desc: ''
        selected: false
        title: Answer 2
        type: answer
        variables: []
      height: 131
      id: '1741094025744'
      position:
        x: 1624.4656564139614
        y: 213.24680170075663
      positionAbsolute:
        x: 1624.4656564139614
        y: 213.24680170075663
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: true
          variable_selector:
          - '1741152497916'
          - result
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 6523595c-22c0-4122-a27a-c774da5aae41
          role: system
          text: '{{#context#}}'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
      height: 89
      id: '1741094035353'
      position:
        x: 1595
        y: 404
      positionAbsolute:
        x: 1595
        y: 404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#1741094035353.text#}}'
        desc: ''
        selected: false
        title: Answer 3
        type: answer
        variables: []
      height: 101
      id: '1741094038146'
      position:
        x: 1898
        y: 404
      positionAbsolute:
        x: 1898
        y: 404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Alpha
        - id: '2'
          name: Beta
        - id: '1741096238323'
          name: Delta
        - id: '1741096242098'
          name: Epsilon
        - id: '1741096247073'
          name: Gamma
        - id: '1741096380290'
          name: Other
        desc: ''
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.0-flash
          provider: langgenius/gemini/google
        query_variable_selector:
        - '1741093650726'
        - sys.query
        selected: false
        title: Question Classifier 3
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 311
      id: '1741096229050'
      position:
        x: 1034.501941204045
        y: -56.123971107214444
      positionAbsolute:
        x: 1034.501941204045
        y: -56.123971107214444
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        dataset_ids:
        - 4a60dec3-cd55-447a-bdad-0d276249abbe
        desc: ''
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: weighted_score
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.3
            vector_setting:
              embedding_model_name: mxbai-embed-large
              embedding_provider_name: langgenius/ollama/ollama
              vector_weight: 0.7
        query_variable_selector:
        - '1741093650726'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 91
      id: '1741152497916'
      position:
        x: 1034.501941204045
        y: 293.87602889278554
      positionAbsolute:
        x: 1034.501941204045
        y: 293.87602889278554
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: 'Please consult the map

          {{#1741152913235.files#}}'
        desc: ''
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 117
      id: '1741152628571'
      position:
        x: 1837.7582337788008
        y: -34.06241206924834
      positionAbsolute:
        x: 1837.7582337788008
        y: -34.06241206924834
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP Request
        type: http-request
        url: https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-6/456783036_901803835311214_6540626638198645520_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=PLSYf32yHhMQ7kNvgGcE_A_&_nc_oc=AdjY-HAVdHGq_2SrQkXJOlt7V2k__c5aoly_Y09DBc83PI6JZsC12BD9854RA8nMAbU&_nc_zt=23&_nc_ht=scontent.fhan2-3.fna&_nc_gid=A_3NP7BKwUEiULVlV1hn0LR&oh=00_AYBh83ETBSZ68ZB009KGTSTvg-lu4kdM2VYt6yOJ_RmL5Q&oe=67CDA6A0
        variables: []
      height: 342
      id: '1741152913235'
      position:
        x: 1373.226094064287
        y: -110.66523300201419
      positionAbsolute:
        x: 1373.226094064287
        y: -110.66523300201419
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -537.1683533298053
      y: 270.27543125110356
      zoom: 0.770571108358408
